{%load staticfiles%}

<html>
	<head>
		<title>Pick Up Line</title>
		<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/sendLine.css' %}">
	<head>
	<body class="testclass">
		<h1> Need a quick pick up line?</h1>
		<form action="#"> 
			<button type="submit">Get pick up line</button> <!-- button -->
			testing 123
		</form>
	</body>

</html>

